.sidebar{
  background-color: white;
  position: fixed;
  left: 0;
  top: 55px;
  bottom: 0;
  width: 72px;
  z-index: 200;
  padding-top: 5px;
}

.sidebar-link {
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
  height: 76px;
  cursor: pointer;
  
}

.sidebar-link:hover{
  background-color: rgb(235, 235, 235);
}

.sidebar-link img{
  height: 24px;
}

.sidebar-link div{
  
  font-size: 10px;
}